:root {
    --var-bg-color: rgb(113, 75, 153);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95vh;
}

.imagen-login {
    position: relative;
    max-width: 100%;
    height: 350px;
    top: -50px;
    animation: imgFloating 3s linear 1s alternate infinite;
}

.main-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 420px;
    border: 1px solid black;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-form__input {
    width: 420px;
    border: 1px solid var(--var-bg-color);
    outline: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-form__link {
    display: inline-block;
    color: var(--var-bg-color);
}

.main-form__submit {
    outline: none;
    border: none;
    color: white;
    width: 60%;
    background-color: var(--var-bg-color);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(to right, rgb(113, 75, 153), rgb(212, 36, 182));
}

.main-form__submit:hover {
    background: linear-gradient(to right, rgb(212, 36, 182), rgb(113, 75, 153));
}

@keyframes imgFloating{
    from {
        top: -50px;
    }
    to {
        top: 50px;
    }
}